mat-toolbar {
    display: flex; /* Use flexbox for the toolbar */
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Center items vertically */
}

.spacer {
    flex: 1; /* Take up remaining space */
}

.user-info {
    display: flex; /* Use flexbox for the user info */
    align-items: center; /* Center vertically */
    justify-content: flex-end; /* Align items to the right */
}

button {
    margin-left: 1.5rem; /* Add some space between name and buttons */
}