mat-card {
    width: 500px;
    mat-card-title {
      font-weight: 600;
      font-size: 1.5rem;
      letter-spacing: 3px;
    }
    mat-card-content {
      table {
        margin-top: 1rem;
        
        .mat-mdc-header-cell,
        .mat-mdc-cell {
          font-size: 1.3rem;
        }}}
    }